[Unit]
Description=TRACK Web Config Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/track/web-server/server
ExecStart=/usr/bin/node index.js
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
