[Unit]
Description=TRACK Runtime Setup (tmpfs dirs and config)
DefaultDependencies=no
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c 'mkdir -p /tmp/track-logs /run/track'

[Install]
WantedBy=multi-user.target
